@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

canvas {
    background-color: white;
}

.about h1 {
    @apply text-3xl;
}

.about h2 {
    @apply text-2xl mt-5 mb-5;
}

.about h3 {
    @apply text-xl mt-3 mb-3;
}

.about h4 {
    @apply text-lg mt-3 mb-3;
}

.about p {
    @apply m-3 ml-0;
}

.about a {
    @apply text-blue-500 bg-blue-100 p-1 rounded hover:bg-blue-200;
}

.about .warning {
    @apply m-10 p-2 flex flex-row justify-center bg-red-100 rounded font-sans;
}

.about ul {
    list-style: disc inside;
}

.about ul.icons {
    list-style: none;
}

.about ul.icons img {
    width: 32px;
    float: left;
    margin-right: 10px;
}

.pagination__item {
    display: inline-block;
    border: 1px solid #bcbcbc;
    color: #5d5d5d;
    padding: .25em .35em;
    text-decoration: none;
}
