{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-row justify-center">
        <div class="basis-2/3">
            <div class="about">
                {{ include('README.md')|markdown_to_html }}
            </div>
        </div>
    </div>
{% endblock %}
